/* ==UserStyle==
@name           2010 YouTube comments style for V3
@namespace      github.com/openstyles/stylus
@version        1621
@description    Brings back the 2010 comments section style (V3 ONLY!!!)
@author         Iamnotrandom565
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    /* Main */
    body {
        font: 12px arial, sans-serif !important;
    }
    b, h4, .profile_page-title {
        font-weight: normal !important;
    }
    h4.watch-sidebar-head, b.all-comments {
        color: #666 !important;
        border-bottom: 1px solid #bbb !important;
    }
    .distiller_yt_headline {
        position: absolute;
        left: -10px;
        text-transform: capitalize;
    }
    .headline {
        position: absolute;
        bottom: 15px;
        left: -22px;
    }
    .action_bar {
        display: none;
    }
    .distiller_yt-post-option-menu {
        display: none;
        height: 24px;
        border-radius: 0 4px 4px 0;
        background-image: linear-gradient(white, #eeeeee) !important;
        border: 1px #ccc solid;
        position: absolute;
        left: 581px;
        top: 0 !important;
    }
    .distiller_yt-thread:hover .action_bar, .distiller_yt-post-option-menu {
        display: inline-block !important;
    }
    .distiller_yt-thread:hover .headline {
        bottom: 30px;
    }
    .distiller_yt-thread_user-content {
        width: 75%;
        position: absolute;
        right: 70px
    }
    .box.focus_caller {
        border: 1px solid black;
        border-radius: 0;
        width: 100%;
        position: absolute;
        right: -8px;
    }
    .callout, .thumbnail, .distiller_yt-thread_avatar, .distiller_stream-options, .sentiment.heart.active, .checkbox-on-off, .comments, .separator, .pinned-post, .profileVerified, .cssAction_Expander.yt-uix-expander-head.sprites, .watch-sidebar-separation-line {
        display: none !important;
        width: 0;
        height: 0;
    }
    .profileLink, .distiller_yt-thread_user-content.run-link {
        color: #4272db !important;
    }
    .distiller_yt-thread .sentiment:not(.active) .count {
        /* position: relative;
        bottom: 2px;
        left: 0; */
        display: none !important;
    }
    .sentiment.like {
        position: absolute;
        left: 490px;
        width: 23px;
    }
    .sentiment.dislike {
        position: absolute;
        left: 521px;
        width: 23px;
    }
    .reply-button {
        padding-top: 4px;
        height: 20px !important;
        font-weight: normal !important;
        border-radius: 4px 0 0 4px !important; 
        position: absolute !important;
        left: 552px;
    }
    .sentiment.like, .sentiment.dislike, .reply-button {
        top: 0 !important;
        color: black !important;
        text-decoration: none !important;
        height: 24px;
        border-radius: 4px;
        background-image: linear-gradient(white, #eeeeee);
        border: 1px #ccc solid;
    }
    .sentiment.like:hover, .sentiment.dislike:hover, .reply-button:hover, .distiller_yt-post-option-menu:hover {
        border: 1px #888 solid !important;
        box-shadow: 0 0 4px #666;
    }
    .sentiment.like:active, .sentiment.dislike:active, .reply-button:active, .distiller_yt-post-option-menu:active {
        border: 1px #888 solid !important;
        box-shadow: 0 0 4px #666;
        background-image: linear-gradient(#dddddd, white) !important;
    }
}
