/* ==UserStyle==
@name           2010-2012 YouTube Comments for V3
@namespace      github.com/iamnotrandom565/v3-userstyles-scripts
@version        1712
@description    Brings back the 2010-2012 comments section style
@author         Iamnotrandom565
@preprocessor   less
@var            select          CommentStyle        "Comments Style"                      ["Aozora", "Epic Panda", "Cosmic Panda"]
@var            checkbox        Resizable           "Enable resizing on commenting boxes (Broken, please report issues in my Github page)" 0
@var            checkbox        XPRM                "Enable experimental features"                                                         0
@var            checkbox        LiveChatVis         "Make live chats visible"                                                              0
@var            checkbox        OldDropdownFix      "Check this if you use the 2010 - 2012 dropdown user style"                            0
@var            checkbox        InfCharComments     "Make comments have more than 500 characters"                                          1
@var            select          NotificationIcon    "Replace the notification icon with:" ["Auto", "Mail", "CosmicPanda (Doesn't work)"]
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    /* Main */
    body {
        font: 12px arial, sans-serif !important;
    }
    b, h4, .profile_page-title {
        font-weight: normal !important;
    }
    h4.watch-sidebar-head, b.all-comments {
        color: #666 !important;
        border-bottom: 1px solid #ccc !important;
    }
    h4.watch-sidebar-head {
        font-size: 0 !important;
        & when not (@CommentStyle = Aozora) {
            display: none !important;
            width: 0 !important;
            height: 0 !important;
            opacity: 0 !important;
        }
    }
    h4.watch-sidebar-head::after & when (@CommentStyle = Aozora) {
        font: 12px normal arial, sans-serif;
        color: #666;
        border-bottom: 1px solid #ccc;
        content: 'Suggestions';
    }
    #watch-discussion {
        padding: none;
    }
    .distiller_yt-thread:hover {
        & when (@CommentStyle = Aozora) and (@XPRM = 1) {
            background-color: #eee !important;
        }
        & when not (@CommentStyle = Aozora) {
            & when (@XPRM = 1) {
                background-color: #ffffff !important;
                border-radius: 3px;
                box-shadow: 0 1px 2px #ccc;
            }
        }
    }
    .yt-uix-button-icon-bell {
        display: none !important;
    }
    #sb-button-notify {
        & when (@NotificationIcon = Mail) or (@NotificationIcon = Auto) and (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -302px -69px !important;
            width: 12px !important;
            height: 15px !important;
            & when (@OldDropdownFix = 1) {
                top: 5px;
            }
        }
    }
    .distiller_yt_headline {
        position: absolute;
        left: 5px;
        text-transform: capitalize;
    }
    .distiller_yt-thread .headline {
        position: absolute !important;
        bottom: 15px !important;
        left: -8px !important;
    }
    .distiller_yt-post-option-menu {
        .oz-sprite {
            background: none;
            
            width: 0;
            height: 0;
            border: 1px solid transparent;
            border-width: 4px 4px 0;
            margin-top: -3px;
            vertical-align: middle;
            font-size: 0;
            border-top-color: #555;
            margin-left: 0;
            & when (@CommentStyle = Aozora) {
                margin-top: 2px;
                margin-left: 2px;
            }
        }
        opacity: 1 !important;
        display: none;
        border-radius: 0 3px 3px 0;
        z-index: 1;
        top: 0 !important;
        position: absolute;
        & when (@CommentStyle = Aozora) {
            left: 577px;
            padding-top: calc(1.8333em / 8);
            height: calc(1.8333em / 1.125);
            background-image: linear-gradient(white, #eeeeee) !important;
            border: 1px #ccc solid;
        }
        & when not (@CommentStyle = Aozora) {
            left: 577px;
            width: 10px;
            text-align: center;
            border: 1px #ccc solid !important;
            border-bottom-color: #aaa !important;
            box-shadow: inset 0 0 1px #fff;
            background: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%) !important;
            color: #555;
            text-shadow: 0 1px 0 #fff;
            height: 17px;
            padding: 0 4px;
            padding-top: 4px;
        }
    }
    .distiller_yt-thread:hover .action_bar, .distiller_yt-post-option-menu, .right_actions {
        display: inline-block !important;
    }
    .distiller_yt-thread:hover .headline {
        bottom: 30px;
    }
    .menu_service_item_renderer:hover {
        & when (@CommentStyle = Aozora) {
            background-color: #ccc !important;
        }
        & when not (@CommentStyle = Aozora) {
            .yt-uix-button-menu-item {
                background-color: #555 !important;
                color: white !important;
                text-shadow: none;
            }
        }
    }
    .yt-uix-button-menu.yt-uix-button-menu-default.menu_renderer {
        & when (@CommentStyle = Aozora) {
            text-align: right !important;
            border: 1px solid #999 !important;
            border-radius: 0 0 3px 3px;
            box-shadow: 0 0 3px #999;
        }
        & when not (@CommentStyle = Aozora) {
            text-align: left !important;
            border: 1px #ccc solid !important;
            border-radius: 3px;
            box-shadow: 0 1px 1px #999;
        }
    }
    .distiller_yt-thread .channel_owner span {
        background-color: inherit;
    }
    .distiller_yt-thread_user-content {
        width: 75%;
        position: absolute;
        right: 55px;
    }
    .distiller_yt-thread_user-content.yt-uix-expander-collapsed .text-content, .distiller_yt-thread_user-content.yt-uix-expander-collapsed {
        & when (@InfCharComments = 1) {
            max-height: none !important;
            overflow: visible !important;
        }
    }
    .livechat_message .distiller_yt-thread_user-content.yt-uix-expander-collapsed {
        right: initial;
        width: initial;
    }
    .jfk-button.goog-inline-block.end.jfk-button-action {
        border-radius: 4px;
        width: auto;
        font-weight: normal;
        position: absolute !important;
        bottom: -10px !important;
        left: 200px !important;
        z-index: 1;
        & when (@CommentStyle = Aozora) {
            color: #000;
            background-image: linear-gradient(white, #eeeeee) !important;
            border: 1px #ccc solid;
        }
        & when not (@CommentStyle = Aozora) {
            border: 1px #ccc solid !important;
            border-bottom-color: #aaa !important;
            box-shadow: inset 0 0 1px #fff;
            background: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%) !important;
            color: #555;
            text-shadow: 0 1px 0 #fff;
        }
    }
    .jfk-button.goog-inline-block.distiller-button.yt-uix-tooltip.oz-tooltip.jfk-button-action {
        display: inline-block !important;
        border-radius: 4px;
        width: auto;
        font-weight: normal;
        position: absolute !important;
        right: 70px !important;
        bottom: -60px !important;
        z-index: 256;
        & when (@CommentStyle = Aozora) {
            color: #000;
            background-image: linear-gradient(white, #eeeeee) !important;
            border: 1px #ccc solid;
        }
        & when not (@CommentStyle = Aozora) {
            border: 1px #ccc solid !important;
            border-bottom-color: #aaa !important;
            box-shadow: inset 0 0 1px #fff;
            background: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%) !important;
            color: #555;
            text-shadow: 0 1px 0 #fff;
        }
    }
    .share.focus_caller {
        .run.run-text {
            font-size: 0;
        }
        span::after {
            font: 12px arial, sans-serif;
            display: inline-block;
            color: #aaa;
            content: 'Respond to this video...'
        }
    }
    .oz-dismiss-button.oz-comment_post-dismiss {
        background-image: none;
        opacity: 1;
        width: 50px;
    }
    .oz-dismiss-button.oz-comment_post-dismiss:after {
        position: absolute !important;
        bottom: -20px !important;
        left: 140px !important;
        opacity: 1 !important;
        color: #4272db;
        z-index: 1;
        content: 'Cancel';
    }
    .sb_text_input {
        width: 462px;
        height: 40px;
        position: absolute;
        left: -80px;
        z-index: 1;
        & when (@Resizable = 1) {
            resize: both;
            overflow: auto;
            min-width: 114px;
            max-width: 99%;
            display: block;
        }
        & when (@CommentStyle = Aozora) {
            background-color: #fff;
            border: 2px solid black !important;
            border-radius: 3px;
        }
        & when not (@CommentStyle = Aozora) {
            background: url(https://s.ytimg.com/yt/img/refresh/body_noise_2x-vflQP8XB1.png) !important;
            border: 1px solid black !important;
            border-radius: 0;
        }
    }
    .reply_poster .distiller_yt-sb .sb_text_input {
        position: absolute;
        left: -80px;
        z-index: 1;
        & when (@Resizable = 1) {
            resize: both;
            overflow: auto;
            width: 480px;
            min-width: 114px;
            max-width: 480px;
            display: block;
        }
        & when (@Resizable = 0) {
            width: 120px;
        }
        & when (@CommentStyle = Aozora) {
            background-color: #fff;
            border: 2px solid black !important;
            border-radius: 3px;
        }
        & when not (@CommentStyle = Aozora) {
            background: url(https://s.ytimg.com/yt/img/refresh/body_noise_2x-vflQP8XB1.png) !important;
            border: 1px solid black !important;
            border-radius: 0;
        }
    }
    .box.focus_caller {
        border: 1px solid #666;
        border-radius: 0;
        width: 480px;
        position: absolute;
        left: -64px;
        z-index: 1;
        & when (@Resizable = 1) {
            resize: both;
            overflow: auto;
            min-width: 114px;
            max-width: 99%;
            display: block;
        }
        & when (@CommentStyle = Aozora) {
            background-color: #fff;
        }
        & when not (@CommentStyle = Aozora) {
            background: url(https://s.ytimg.com/yt/img/refresh/body_noise_2x-vflQP8XB1.png) !important;
        }
    }
    .distiller_yt-sb:not(.hid) .box.focus_caller {
        display: none !important;
    }
    .distiller_yt-sb-container {
        padding-bottom: 30px;
    }
    .distiller_yt-sb .action_bar {
        display: inline-block !important;
    }
    .distiller_yt-sb-container .oz-dismiss-button {
        top: 72px;
        left: 260px !important;
    }
    .live_chat_box_iframe_holder {
        & when (@LiveChatVis = 0) {
            display: none !important;
        }
    }
    .callout, .thumbnail, .distiller_yt-thread_avatar, .distiller_stream-options, .sentiment.heart.active, .checkbox-on-off, .comments, .separator, .pinned-post, .profileVerified, .cssAction_Expander.yt-uix-expander-head.sprites, .watch-sidebar-separation-line, .sb-photo, .yt-uix-button.jfk-button.jfk-button-standard.goog-inline-block.distiller-button.distiller-dropdown-button, .yt-uix-button.yt-uix-button-size-default.yt-uix-button-default.yt-masthead-user-icon.yt-uix-button-empty, .masthead-expanded-sandbar, .masthead-expanded-lists-container, #yt-masthead-user .sb-notif-on .yt-uix-button-content, .annotation.iv-branding, .distiller_yt-thread_user-content.yt-uix-expander-collapsed .cssAction_Expander.sprites, .iv-cards-notif>button div, .oz_widget_holder {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        font-size: 0 !important;
        opacity: 0 !important;
    }
    .profileLink, .distiller_yt-thread_user-content .run-link {
        color: #4272db !important;
    }
    .distiller_yt-thread .sentiment:not(.active) .count, .count_active {
        position: relative;
        bottom: -30px;
    }
    .distiller_yt-thread .sentiment .count, .distiller_yt-thread .sentiment .count_active {
        color: #090;
        white-space: nowrap;
        top: auto;
        text-shadow: none !important;
    }
    .action_bar {
        display: none;
    }
    .action_bar:hover, .action_bar:hover .distiller_yt-post-option-menu {
        display: inline-block;
    }
    .sentiment.like {
        text-align: center;
        position: absolute;
        
        & when (@CommentStyle = Aozora) {
            left: 491px !important;
            width: 16px;
        }
        & when not (@CommentStyle = Aozora) {
            left: 482px;
            border-radius: 3px 0 0 3px;
            width: 18px;
        }
    }
    .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-like {
        width: 14px;
        height: 14px;
        & when (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -105px -80px !important;
        }
        & when not (@CommentStyle = Aozora) {
            opacity: 0.6 !important;
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-refresh-vflIJtcPd.png) -157px -244px !important;
        }
    }
    .sentiment.like:hover .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-like, .sentiment.like:active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-like, .sentiment.like.active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-like {
        & when (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -124px -50px !important;
        }
    }
    .sentiment.like:active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-like, .sentiment.like.active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-like {
        & when not (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-refresh-vflIJtcPd.png) -35px -264px !important;
        }
    }
    .sentiment.dislike {
        position: absolute;
        text-align: center;
        & when (@CommentStyle = Aozora) {
            left: 517px;
            width: 16px;
        }
        & when not (@CommentStyle = Aozora) {
            left: 509px;
            border-radius: 0 3px 3px 0;
            width: 18px;
        }
    }
    .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-dislike {
        width: 14px;
        height: 14px;
        & when (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -167px -48px !important;
        }
        & when not (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-refresh-vflIJtcPd.png) -68px -138px !important;
            opacity: 0.6 !important;
        }
    }
    .sentiment.dislike:hover .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-dislike, .sentiment.dislike:active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-dislike, .sentiment.dislike.active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-dislike {
        & when (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-master-vfl8ZHa_q.png) -231px -119px !important;
        }
    }
    .sentiment.dislike:active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-dislike, .sentiment.dislike.active .oz-sprite.oz-sprite-img-cleardot.oz-distiller-yt-dislike {
        & when not (@CommentStyle = Aozora) {
            background: no-repeat url(https://s.ytimg.com/yt/imgbin/www-refresh-vflIJtcPd.png) -18px -121px !important;
            opacity: 1 !important;
        }
    }
    .reply-button {
        border-radius: 3px 0 0 3px !important; 
        position: absolute !important;
        & when (@CommentStyle = Aozora) {
            padding-top: calc(1.8333em / 2) !important;
            height: calc(1.8333em / 2.3) !important;
            font-weight: normal !important;
            font-size: 12px !important;
            left: 542px;
            text-align: right !important;
        }
        & when not (@CommentStyle = Aozora) {
            padding-top: 9px !important;
            height: 12px !important;
            left: 540px;
            color: #555 !important;
        }
    }
    .sentiment.like, .sentiment.dislike, .reply-button {
        top: 0 !important;
        text-decoration: none !important;
        line-height: 0 !important;
        
        & when (@CommentStyle = Aozora) {
            color: black !important;
            height: 1.8333em;
            padding: 0 2px;
            font-size: .9166em;
            background-image: linear-gradient(white, #eeeeee);
            border: 1px #ccc solid;
            border-radius: 3px;
        }
        & when not (@CommentStyle = Aozora) {
            border: 1px #ccc solid !important;
            border-bottom-color: #aaa !important;
            box-shadow: inset 0 0 1px #fff;
            background: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%) !important;
            color: #555;
            text-shadow: 0 1px 0 #fff;
            height: 21px;
            padding: 0 4px;
        }
    }
    .sentiment.like:hover, .sentiment.dislike:hover, .reply-button:hover, .distiller_yt-post-option-menu:hover {
        & when (@CommentStyle = Aozora) {
            border: 1px #888 solid !important;
            box-shadow: 0 0 4px #666;
        }
        & when not (@CommentStyle = Aozora) {
            border: 1px #aaa solid !important;
            box-shadow: 0 2px 4px #ccc;
        }
    }
    .sentiment.like:active, .sentiment.dislike:active, .reply-button:active, .distiller_yt-post-option-menu:active {
        border: 1px #888 solid !important;
        & when (@CommentStyle = Aozora) {
            box-shadow: 0 0 4px #666;
            background-image: linear-gradient(#dddddd, white) !important;
        }
        & when not (@CommentStyle = Aozora) {
            background-image: none !important;
            background-color: #ddd !important;
            box-shadow: inset 0 0 1px #aaa;
        }
    }
/*  == INFO ==
     This user style file is supposed to bring back the style of the old YouTube comments section style (around 2010 to 2012).
     It requires the Vorapis 3 extension to function, and it works best with StarTube's Aozora, Epic Panda or Cosmic Panda layouts with expCommentsFullWidth turned off.
    
    == COPYRIGHT ==
     You're allowed to modify & republish my work, as long as you credit @iamnotrandom565 and my github repository.
    
    == TODO ==
    - Replace "Up Next" to "Suggestions" [x]
    - Fix the cancel and post comment button placement [x]
*/
}
